/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #343131;
    color: #A04747;
    font-size: 16px;
    font-family: monospace;
}

a {
    color: #A04747;
}

h1 {
    color: #A04747;
    font-size: 72px;
}

h2 {
    color: #8e693f;
    font-style: italic;
}

h3 {
    color: #D8A25E;
    font-style: italic;
    text-align: left;
}

.chilioil {
    width: 210px;
    margin-right: auto;
    margin: auto;
    text-align: center;
}

.topheader {
    background-color: #A04747;
    text-align: center;
    padding: auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
    border: 28px solid #EEDF7A;
    border-radius: 80px;
}

.mainbody {
    background-color: #f9eb8c;
    text-align: center;
    padding: 50px;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 30px auto;
    border: 8px solid #D8A25E;
    border-radius: 30px;
}

.chelsea-market-regular {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-size: 72px;
  font-style: normal;
  color: #EEDF7A;
}

.label {
    border: 2px solid #9a764e;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    width: 30%;
}

.paragraph {
    color: #A04747;
    text-align: left;
    line-height: 1.5;
    text-indent: 18px;
}

a:visited {
    color: #551A8B;
}

ul, ol {
  margin: auto;
  padding: auto;
  text-align: left;
  line-height: 2.5;
}